<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 던전</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      div.charItem {width: 450px; max-width: 100%; margin: 0 auto; }
      .charItem button {width: 300px; max-width: 100%; background-color: #ffffea; }
      .charItem button:hover {background-color: #ffffcc; }
      .turnWrap {text-align: center; }
      span.turnCount {font-size: 20px; font-weight: bold; }
      span.skillUseWinner {font-weight: bold; }
      .driveSkill {margin-top: 5px; font-weight: bold; }
      .specialSkill {margin-top: 7px; font-weight: bold; }
      .colorLeft {color: red; font-weight: bold; }
      .colorRight {color: blue; font-weight: bold; }
      .colorHp {color: green; }
      .colorSp {color: blue; }
      .charInfoWrap {width: 70%; max-width: 510px; margin: 10px auto; overflow: hidden; }
      .charInfo {text-align: center; width: 49%; float: left; border-top: 1px solid black; }
      .resultWrap {width: 70%; max-width: 510px; margin: 10px auto; overflow: hidden; }
      .backLink {text-align: center; width: 40%; margin: 10px auto; overflow: hidden; }
      table {margin: 30px auto; text-align: center; }
      tr {background-color: gainsboro; }
      tr.tblTitle {background-color: lightblue; }
      tr.earned {background-color: beige; }
      td {padding: 10px; }
      img {max-width: 400px; }
    </style>
  <script>
  </script>
</head>
<%
  const printName = {damageDone : '총 입힌 피해', maxDamageDone : '최대 입힌 피해', maxDamageDoneTo : '최대 입힌 피해 대상', damageTaken : '총 입은 피해', maxDamageTaken : '최대 입은 피해', maxDamageTakenFrom : '최대 입은 피해를 준 캐릭터', atkCnt : '총 공격 횟수', 
          lostLowerRank : '낮은 급수에 패배', wonHigherRank : '높은 급수에 승리', apUsed : '사용한 피로도', rareAmt : '레어 장비 획득', uniqueAmt : '유니크 장비 획득', epicAmt : '에픽 장비 획득', 
          cardUsed : '리설트 카드 개봉', dustAmt : '가루 획득', premiumAmt : '프리미엄 포인트 획득', maxHpStat : '생명력 스탯 포인트', phyAtkStat : '물리공격력 스탯 포인트', magAtkStat : '마법공격력 스탯 포인트'};
%>
<body>
    <table>
      <tr class="tblTitle">
        <td></td>
        <td>이름</td>
        <td>달성일</td>
      </tr>
    <% for ([key, val] of Object.entries(achData)) { %>
      <tr class="<%= charAch[key] ? 'earned' : '' %>">
        <td><%= key %></td>
        <td><%= val.name %><br><%= (val.hidden ? (charAch[key] ? val.desc : '') : val.desc) %></td>
        <td><%= (globalAch[key] ? (globalAch[key].date + ' (' + globalAch[key].holder + ')') : '미달성') %> <br> <%= (charAch[key] ? charAch[key] : '미달성') %></td>
      </tr>
    <% } %>
    </table>
    <table>
    <% for ([key, val] of Object.entries(charStats)) { %>
      <tr>
        <td><%= printName[key] %></td>
        <td><%= val %></td>
      </tr>
    <% } %>
    </table>
      <div class="backLink"><a href="/">돌아가기</a></div>
</body>
</html> 