<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 던전 입장</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      div {width: 450px; max-width: 100%; margin: 0 auto; }
      .charItem button {width: 450px; max-width: 100%; background-color: #ffffea; }
      .charItem button:hover {background-color: #ffffcc; }
      .backLink {text-align: center; width: 40%; margin: 10px auto; overflow: hidden; }
    </style>
</head>
<body>
<%
  const names = {'03' : '줄리어스 엠더츠', '04' : '프사이', '05' : '에이카', '06' : '세리어스 플로에르시아',
                 '07' : '에오헬름', '08' : '나백수', '09' : '이 눅스', '10' : '세컨드 로직', '11' : '마랑'};
%>
  <div class="backLink">
    던전 입장
  </div>
  <% for (dun of dungeonList) { %>
  <div class="charItem">
    <form action="/enterDungeon" method="post">
      <button type="submit"<%= dun.active ? '' : ' disabled' %>><%= dun.name %></button>
      <input type="hidden" name="option" value="<%= dun.code %>">
    </form>
    <% if (dun.phase) { 
      const hpPercent = Math.round((dun.curHp * 10000) / dun.maxHp) / 100;
  var leaderboard = [];
  for (key in dun.battleRecord) { 
    leaderboard.push({name : names[key], damage : dun.battleRecord[key]});
  }
  leaderboard.sort(function(a, b) {
    if (a.damage > b.damage) {
      return -1;
    } else if (a.damage == b.damage) {
      return 0;
    } else {
      return 1;
    }
  }); %>
      <div class="backLink">
        <%= dun.bossName %><br>
        <img src="<%= dun.image %>"><br>
        <%= dun.curHp %> / <%= dun.maxHp %> (<%= hpPercent %>%)
         <br>현재 피해량
        <% for (val of leaderboard) { %>
           <br><%= val.names %> : <%= val.damage %>
        <% } %>
      </div>
    <% } %>
  </div>
  <% } %>
  <div class="backLink">
    <a href="/">돌아가기</a>
  </div>
</body>
</html> 
