<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 던전 입장</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      div {width: 450px; max-width: 100%; margin: 0 auto; }
      .charItem button {width: 450px; max-width: 100%; background-color: #ffffea; }
      .charItem button:hover {background-color: #ffffcc; }
      .itemTooltip {font-family: "Nanum Gothic", sans-serif; visibility: hidden; width: 250px; background-color: black; color: #fff; text-align: center; font-size: 13.3333px; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .charItem:hover .itemTooltip {visibility: visible; }
      .backLink {text-align: center; width: 60%; margin: 10px auto; overflow: hidden; }
    </style>
    <script>
      
  function invClick(thisNode, event) {
    if (thisNode.type !== 'submit') {
      event.preventDefault();
      for (item of document.getElementsByClassName('inventoryButton')) {
        item.type = 'button';
      }
      thisNode.setAttribute('type', 'submit');
    }
  }
    </script>
</head>
<body>
<%
  const names = {'03' : '가이우스 엠더츠', '04' : '루니샤', '05' : '뤼순 창', '06' : '세리어스 플로에르시아',
        '07' : '일룬드롤', '08' : '나백수', '09' : '이 눅스', '10' : '카시엔', '11' : '마랑', '12' : '가비류이', '13' : '제이'};
%>
  <div class="backLink">
    던전 입장
  </div>
  <% for (dun of dungeonList) { %>
  <div class="charItem">
    <form action="/enterDungeon" method="post">
      <button onclick="invClick(this, event)" type="button"<%= dun.active ? '' : ' disabled' %>>
      <%= dun.name %><%= dun.remain ? ' (' + dun.remain + '회 남음)' : '' %><%= dun.additional ? ' [1 피로도]' : '' %>
      <% if (dun.tooltip) { %>
      <div class="itemTooltip"><%- dun.tooltip %></div>
      <% } %>
      </button>
      <input type="hidden" name="option" value="<%= dun.code %>">
    </form>
    <% if (dun.phase) { 
  var leaderboard = [];
  for (key in dun.battleRecord) { 
    leaderboard.push({name : names[key], damage : dun.battleRecord[key]});
  }
  leaderboard.sort(function(a, b) {
    if (a.damage > b.damage) {
      return -1;
    } else if (a.damage == b.damage) {
      return 0;
    } else {
      return 1;
    }
  }); 
  const rank = leaderboard.findIndex(x => x.name == nameIn); %>
      <div class="backLink">
        <%= dun.bossName %><br>
        <img src="<%= dun.image %>"><br>
         <br><table><tr>현재 피해량</tr>
         <% if (rank != -1) { %>
           <tr><td><%= rank+1 %>위</td><td><%= leaderboard[rank].damage %></td></tr>
         <% } %>
          </table>
      </div>
    <% } %>
  </div>
  <% } %>
  <div class="backLink">
    <a href="/">돌아가기</a>
  </div>
</body>
</html> 
