<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      body {overflow: hidden; }
      table {border: 1px solid black; text-align: center; }
      table.charInfo {float: left; }
      td {padding: 3px 10px; }
      div.infoViewWrap {float: left; }
      .charInfo .charViewTitle {background-color: #ffffcc; }
      .charInfo .charViewContent {background-color: #ffffea; }
      .itemInfo .charViewTitle {background-color: #ccffcc; }
      .itemInfo .charViewContent {background-color: #eaffea; }
      .skillInfo .charViewTitle {background-color: #ccccff; }
      .skillInfo .charViewContent {background-color: #eaeaff; }
      div.inventoryWrap {float: left; width: 750px; }
      .inventoryItem button {width: 150px; background-color: #ffffea; }
      .inventoryItem button:hover {background-color: #ffffcc; }
      .inventoryItem .itemTooltip {visibility: hidden; width: 120px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .inventoryItem:hover .itemTooltip {visibility: visible; }
      .charViewContent .itemTooltip {visibility: hidden; width: 120px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .charViewContent:hover .itemTooltip {visibility: visible; }
      .rarityUncommon {color: #4bacc6; }
      .rarityRare {color: #8054a2; }
      .rarityPremium {color: #00b050; }
      .rarityUnique {color: #ff33cc; }
      .rarityEpic {color: #f79646; }
    </style>
</head>
<body>
    <h1>Home</h1>
    <% 
  var printName = {};
  printName.weapon = '무기';
  printName.armor = '갑옷';
  printName.trinket = '장신구';
  printName.maxHp = '생명력';
  printName.hpRegen = '생명력 재생';
  printName.spRegen = 'SP 재생';
  printName.spCharge = 'SP 충전';
  printName.phyAtk = '물리공격력';
  printName.magAtk = '마법공격력';
  printName.crit = '치명';
  printName.critDmg = '치명피해';
  printName.phyReduce = '물리저항';
  printName.magReduce = '마법저항';
  printName.hit = '명중';
  printName.evasion = '회피';
  
  function getDamageText(skill) {
    var res = skill.type === 1 ? '물리' : '마법';
    return res + ' ' + skill.damage;
  }
  
  function getRarityText(rarity) {
    var text = '';
    var cname = 'rarity';
    switch (rarity) {
    case 0:
      text = '언커먼';
      cname += 'Uncommon';
      break;
    case 1:
      text = '커먼';
      cname += 'Common';
      break;
    case 2:
      text = '레어';
      cname += 'Rare';
      break;
    case 3:
      text = '프리미엄';
      cname += 'Premium';
      break;
    case 4:
      text = '유니크';
      cname += 'Unique';
      break;
    case 5:
      text = '에픽';
      cname += 'Epic';
      break;
    }
    return '<span class="' + cname + '">' + text + '</span>';
  }
  if( !user ) { %>
    <p>로그인을 해주세요.</p>
    <a href="/login">로그인</a>
    <a href="/join">회원가입</a>
    <% } else { %>
    <p><%= user.name %>으로 접속되었습니다.</p>
    <% if( char ) { %>
    <table class="charInfo">
        <tr><td class="charViewTitle"><%= char.name %></td><td class="charViewContent"><%= char.title %></td></tr>
        <tr><td class="charViewTitle"><%= char.rank %>급 <%= char.level %>레벨</td><td class="charViewContent"><%= char.exp + '/' + char.reqExp %></td></tr>
        <tr><td class="charViewTitle">스탯 포인트</td><td class="charViewContent"><%= char.statPoint %></td></tr>
        <tr><td class="charViewTitle">액션 포인트</td><td class="charViewContent"><%= char.actionPoint %></td></tr>
      <% for (const [key, val] of Object.entries(char.stat)) {  %>
        <tr><td class="charViewTitle"><%= (printName[key] ? printName[key] : key) %></td><td class="charViewContent"><%= (val > 0 && val < 1) ? val * 100 : val %>
        <% if ((key === 'maxHp' || key === 'phyAtk' || key === 'magAtk') && char.statPoint > 0) { %>
          <form action="/useStatPoint" method="post"><button type="submit">+</button><input type="hidden" name="keyType" value="<%= key %>"></form>
        <% } %>
        </td><tr>
      <% } %>
    </table>
  <div class="infoViewWrap">
    <table class="itemInfo">
      <% if (char.items.weapon) { %>
        <tr><td class="charViewTitle">무기</td><td class="charViewContent"><%= char.items.weapon.rank %></td>
        <td class="charViewContent"><%- getRarityText(char.items.weapon.rarity) %></td><td class="charViewContent"><%= char.items.weapon.name %></td><td class="charViewContent">
        <form action="/unequipItem" method="post"><button type="submit">해제</button><input type="hidden" name="itemType" value="weapon"></form>
        <div class="itemTooltip"><%= char.items.weapon.stat ? Object.entries(char.items.weapon.stat).map(arr => { if (arr[1] > 0 && arr[1] < 1) arr[1] *= 100; return printName[arr[0]] + ' ' + arr[1]; }).join(', ') : '' %></div>
        </td><tr>
      <% } else { %>
        <tr><td class="charViewTitle">무기</td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><tr>
      <% } %>
      <% if (char.items.armor) { %>
        <tr><td class="charViewTitle">갑옷</td><td class="charViewContent"><%= char.items.armor.rank %></td><td class="charViewContent"><%- getRarityText(char.items.armor.rarity) %></td><td class="charViewContent"><%= char.items.armor.name %></td><td class="charViewContent">
        <form action="/unequipItem" method="post"><button type="submit">해제</button><input type="hidden" name="itemType" value="armor"></form></td><tr>
      <% } else { %>
        <tr><td class="charViewTitle">갑옷</td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><tr>
      <% } %>
      <% if (char.items.subarmor) { %>
        <tr><td class="charViewTitle">보조방어구</td><td class="charViewContent"><%= char.items.subarmor.rank %></td><td class="charViewContent"><%- getRarityText(char.items.subarmor.rarity) %></td><td class="charViewContent"><%= char.items.subarmor.name %></td><td class="charViewContent">
        <form action="/unequipItem" method="post"><button type="submit">해제</button><input type="hidden" name="itemType" value="subarmor"></form></td><tr>
      <% } else { %>
        <tr><td class="charViewTitle">보조방어구</td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><tr>
      <% } %>
      <% if (char.items.trinket) { %>
        <tr><td class="charViewTitle">장신구</td><td class="charViewContent"><%= char.items.trinket.rank %></td><td class="charViewContent"><%- getRarityText(char.items.trinket.rarity) %></td><td class="charViewContent"><%= char.items.trinket.name %></td><td class="charViewContent">
        <form action="/unequipItem" method="post"><button type="submit">해제</button><input type="hidden" name="itemType" value="trinket"></form></td><tr>
      <% } else { %>
        <tr><td class="charViewTitle">장신구</td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><td class="charViewContent"></td><tr>
      <% } %>
    </table>
    
    <table class="skillInfo">
      <tr><td class="charViewTitle">가위</td><td class="charViewContent"><%= char.skill.base[0].name %></td><td class="charViewContent"><%= getDamageText(char.skill.base[0]) %></td><td class="charViewContent"></td><tr>
      <tr><td class="charViewTitle">바위</td><td class="charViewContent"><%= char.skill.base[1].name %></td><td class="charViewContent"><%= getDamageText(char.skill.base[1]) %></td><td class="charViewContent"></td><tr>
      <tr><td class="charViewTitle">보</td><td class="charViewContent"><%= char.skill.base[2].name %></td><td class="charViewContent"><%= getDamageText(char.skill.base[2]) %></td><td class="charViewContent"></td><tr>
      <tr><td class="charViewTitle">스페셜</td><td class="charViewContent"><%= char.skill.special.name %></td><td class="charViewContent">SP<%= char.skill.special.cost %></td><td class="charViewContent"></td><tr>
      <tr><td class="charViewTitle">드라이브</td><td class="charViewContent"><%= char.skill.drive.name %></td><td class="charViewContent">SP<%= char.skill.drive.cost %></td><td class="charViewContent"></td><tr>
    </table>
  </div>
    
    <div class="inventoryWrap">
      <% for (const [key, val] of Object.entries(char.inventory)) { %>
        <div class="inventoryItem"><form action="/useItem" method="post"><button type="submit"><%= val.name %></button><input type="hidden" name="itemNum" value="<%= key %>">
        <div class="itemTooltip"><%= val.stat ? Object.entries(val.stat).map(arr => { if (arr[1] > 0 && arr[1] < 1) arr[1] *= 100; return printName[arr[0]] + ' ' + arr[1]; }).join(', ') : '' %></div></form>
        </div>
      <% } %>
    </div>
    
    <div class="menuWrap">
      <div class="menuItem">
        <a href="/battleList">전투 신청</a>
      </div>
      <div class="menuItem">
        <a href="/battleLogs">전투 로그 보기</a>
      </div>
    </div>
     <%  } else { %>
    <p>캐릭터가 지정되지 않았습니다. 관리자에게 문의하세요.</p>
    <% } %> 
    <br><a href="/logout">로그아웃</a>
    <% } %> 
</body>
</html>