<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      table {border: 1px solid black; text-align: center; }
      table.charInfo {float: left; }
      td {padding: 3px 10px; }
      div {float: left; }
      .charInfo .charViewTitle {background-color: #ffffcc; }
      .charInfo .charViewContent {background-color: #ffffea; }
      .itemInfo .charViewTitle {background-color: #ccffcc; }
      .itemInfo .charViewContent {background-color: #eaffea; }
      .skillInfo .charViewTitle {background-color: #ccccff; }
      .skillInfo .charViewContent {background-color: #eaeaff; }
      div.inventoryWrap {float: left; width: 750px; max-width: 100%; }
      .inventoryItem button {width: 150px; float: left; padding: 2px; }
      .inventoryItem button:hover { }
      .itemTooltip {font-family: "Nanum Gothic", sans-serif; visibility: hidden; width: 250px; background-color: black; color: #fff; text-align: center; font-size: 13.3333px; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .charViewContent:hover .itemTooltip {visibility: visible; }
      .inventoryItem:hover .itemTooltip {visibility: visible; }
      .tooltipFlavor {font-style: italic; }
      .rarityUncommon {color: #4bacc6; }
      .rarityRare {color: #8054a2; }
      .rarityPremium {color: #00b050; }
      .rarityUnique {color: #ff33cc; }
      .rarityEpic {color: #f79646; }
      .buttonUncommon {background-color: #4bacc6; }
      .buttonRare {background-color: #8054a2; }
      .buttonPremium {background-color: #00b050; }
      .buttonUnique {background-color: #ff33cc; }
      .buttonEpic {background-color: #f79646; }
      .chatWrap ul {height: 200px; overflow: scroll; list-style-type: none; margin: 0; padding: 0; max-width: 230px; }
      .chatWrap ul.peopleList {width: 100px; float: left; border-left: 1px solid black; }
      .chatWrap ul li { padding: 5px 10px; }
      .chatWrap ul li:nth-child(odd) { background: #eee; }
      div.menuWrap {float: left; }
      .menuItem {padding: 5px; border: 2px solid black; background-color: gray; color: white; width: 150px; margin: 5px; text-align: center; }
      .menuItem a {text-decoration: none; }
      .alertBack {width: 100%; height: 100%; background-color: gray; opacity: 0.9; z-index: 2; position: absolute; display: none; }
      div#alertWindow {margin: 40% auto; width: 300px; height: 50px; background-color: beige; float: none; text-align: center; }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
  function invClick(thisNode, event) {
    if (thisNode.type !== 'submit') {
      event.preventDefault();
      for (item of document.getElementsByClassName('inventoryButton')) {
        item.type = 'button';
      }
      thisNode.setAttribute('type', 'submit');
    }
  }
  
  var socket = io();
  socket.emit('login', '<%= user.name %>', '<%= user.uid %>');
  
  function sendMessage() {
    socket.emit('chat message', document.getElementById('msg').value);
    document.getElementById('msg').value = '';
    return false;
  };
  
  socket.on('logged in', function(chatRecord, peopleList) {
    for (const val of chatRecord) {
      addMessage(val.userName, val.message);
    }
    addPerson(peopleList);
  });
  
  socket.on('chat message', function(userName, msg) {
    addMessage(userName, msg);
  });
  
  socket.on('person left', function(peopleList) {
    addPerson(peopleList);
  });
  
  socket.on('tradeReq', function(suid, ouid, oname) {
    if (suid == '<%= user.uid %>') {
      showAlert(ouid, oname);
    }
  });
  
  function addMessage(userName, msg) {
    var ul = document.getElementById('messages');
    var li = document.createElement('li');
    li.appendChild(document.createTextNode(userName + ' : ' + msg));
    ul.appendChild(li);
    ul.scrollTop = ul.scrollHeight;
  }
  
  function addPerson(peopleList) {
    var ul = document.getElementById('people');
    while (ul.lastChild) {
      ul.removeChild(ul.lastChild);
    }
    for (const val of peopleList) {
      var li = document.createElement('li');
      li.appendChild(document.createTextNode(val));
      ul.appendChild(li);
    }
  }
  
  function showAlert(ouid, oname) {
    if (<%= mark %>) {
    var alert = document.getElementById('alertBack');
    alert.style.display = 'block';
    var alertWin = document.getElementById('alertWindow');
    alertWin.children[0].innerText = '자리를 비운 동안 전투 신청을 받았습니다.';
    var alertForm = document.getElementById('tradeReqConfirm');
    alertForm.children[2].value = ouid;
    }
  }
  
  function hideAlert() {
    var alert = document.getElementById('alertBack');
    alert.style.display = 'none';
  }
      </script>
</head>
<body>
<% 
  var printName = {};
  printName.maxHp = '생명력';
  printName.hpRegen = 'HP재생';
  printName.spRegen = 'SP재생';
  printName.spCharge = 'SP충전';
  printName.phyAtk = '물리공격력';
  printName.magAtk = '마법공격력';
  printName.crit = '치명';
  printName.critDmg = '치명피해';
  printName.phyReduce = '물리저항';
  printName.magReduce = '마법저항';
  printName.hit = '명중';
  printName.evasion = '회피';
  printName.dmgReduce = '피해감소';
  printName.pierce = '관통';
  printName[0] = '무기';
  printName[1] = '갑옷';
  printName[2] = '보조방어구';
  printName[3] = '장신구';
  printName[4] = '스킬 아티팩트';
  
  function getDamageText(skill) {
    var res = skill.type === 1 ? '물리' : '마법';
    return res + ' ' + skill.damage;
  }
  
  function getButtonText(rarity) {
    var cname = 'button';
    switch (rarity) {
    case 0:
      cname += 'Common';
      break;
    case 1:
      cname += 'Uncommon';
      break;
    case 2:
      cname += 'Rare';
      break;
    case 3:
      cname += 'Premium';
      break;
    case 4:
      cname += 'Unique';
      break;
    case 5:
      cname += 'Epic';
      break;
    }
    return cname;
  }
  
  function getRarityText(rarity) {
    var text = '';
    var cname = 'rarity';
    switch (rarity) {
    case 0:
      text = '커먼';
      cname += 'Common';
      break;
    case 1:
      text = '언커먼';
      cname += 'Uncommon';
      break;
    case 2:
      text = '레어';
      cname += 'Rare';
      break;
    case 3:
      text = '프리미엄';
      cname += 'Premium';
      break;
    case 4:
      text = '유니크';
      cname += 'Unique';
      break;
    case 5:
      text = '에픽';
      cname += 'Epic';
      break;
    }
    return '<span class="' + cname + '">' + text + '</span>';
  }
  
  function getStatList(val) {
    return Object.entries(val.stat).map(arr => { 
      if (arr[0] == 'phyAtkMin') {
        return  '물리공격력 +' + arr[1] + '~' + val.stat.phyAtkMax;
      } else if (arr[0] == 'magAtkMin') {
        return  '마법공격력 +' + arr[1] + '~' + val.stat.magAtkMax;        
      } else if (arr[0] == 'phyAtkMax' || arr[0] == 'magAtkMax') {
        return '';
      } else {
        var sign = arr[1] > 0 ? '+' : '';
        if (arr[0] == 'phyReduce' || arr[0] == 'magReduce' || arr[0] == 'crit' || arr[0] == 'critDmg' || arr[0] == 'crit' || arr[0] == 'hit' || arr[0] == 'evasion' || arr[0] == 'pierce') {
          arr[1] = (arr[1] * 100).toFixed(2) + '%'; 
        }
        return printName[arr[0]] + ' ' + sign + arr[1];
      }      
    }).filter(x => x.length > 0).join(', ');
  }
  
  function makeTooltip(item) {
    var rtext = '';
    rtext += item.name;
    if (item.type < 10) {
      rtext += '<br>' + item.rank + '급 ' + getRarityText(item.rarity) + ' ' + printName[item.type];
      rtext += '<br>' + getStatList(item);
      if (item.effectDesc && item.effectDesc.length > 0) {
        rtext += ', ' + item.effectDesc;
      }
    if (item.socket) {
      for (sock of item.socket) {
        if (sock) {
          rtext += '<br><br>[' + sock.name + '] ' + sock.effectDesc;
        }
      }
    }
      if (item.flavor && item.flavor.length > 0) {
        rtext += '<br><br><span class="tooltipFlavor">' + item.flavor + '</span>';
      }
    } else if (item.type == 999 && item.tooltip) {
      rtext += '<br>' + item.tooltip;
    }
    return rtext;
  }
  
  function makeSkillTooltip(skill) {
    var rtext = '';
    rtext += skill.tooltip + '<br><br><span class="tooltipFlavor">' + skill.flavor + '</span>';
    return rtext;
  }
  
  if (!user) { %>
    <p>로그인을 해주세요.</p>
    <a href="/login">로그인</a>
    <a href="/join">회원가입</a>
  <% } else { %>
      <div class="alertBack" id="alertBack">
        <div class="alertWindow" id="alertWindow">
          <div></div>
          <div>
            <form id="tradeReqConfirm" action="/doTrade" method="post">
              <button type="submit">수락</button>
              <button type="button" onclick="hideAlert();">거절</button>
              <input type="hidden" name="charUid" value="" />
              <input type="hidden" name="mode" value="2" />
            </form>
          </div>
        </div>
      </div>
      <p><%= user.name %>으로 접속되었습니다.</p>
    <% if (char) { %>
    <table class="charInfo">
        <tr>
          <td class="charViewTitle"><%= char.name %></td>
          <td class="charViewContent"><%= char.title %></td>
          <td class="charViewContent"></td>
        </tr>
        <tr>
          <td class="charViewTitle"><%= char.rank %>급 <%= char.level %>레벨</td>
          <td class="charViewContent"><%= char.exp + '/' + char.reqExp + ' (' + char.maxExp + ')' %></td>
          <td class="charViewContent">
          <% if (char.level >= 20 && char.rank > 7) { %>
            <form action="/doRankup" method="post">
              <button type="submit">랭크업</button>
            </form>
          <% } %>
          </td>
        </tr>
        <tr>
          <td class="charViewTitle">피로도</td>
          <td class="charViewContent"><%= actionPoint %>/100</td>
          <td class="charViewContent"><%= char.expBoost ? 'Boost ' + char.expBoost : '' %></td>
        </tr>
        <tr>
          <td class="charViewTitle">카드 게이지</td>
          <td class="charViewContent"><%= char.resultGauge + '/500 (' + char.resultMaxGauge + ')' %></td>
          <td class="charViewContent">
          <% if (char.resultGauge >= 100) { %>
            <form action="/getCard" method="post">
              <button type="submit">카드 받기</button>
            </form>
          <% } %>
          </td>
        </tr>
        <tr>
          <td class="charViewTitle">스탯 포인트</td>
          <td class="charViewContent"><%= char.statPoint %></td>
          <td class="charViewContent"></td>
        </tr>
        <tr>
          <td class="charViewTitle">프리미엄 포인트</td>
          <td class="charViewContent"><%= char.premiumPoint %></td>
          <td class="charViewContent"></td>
        </tr>
        <tr>
          <td class="charViewTitle">가루</td>
          <td class="charViewContent"><%= char.dust %></td>
          <td class="charViewContent"></td>
        </tr>
        <tr>
          <td class="charViewTitle">전적</td>
          <td class="charViewContent"><%= char.battleCnt %>전 <%= char.winCnt %>승</td>
          <td class="charViewContent"></td>
        </tr>
      <% for ([key, val] of Object.entries(char.stat)) {  
           if (key === 'phyAtkMax' || key === 'phyAtkMin' || key === 'magAtkMax' || key === 'magAtkMin') {
             continue;
           } %>
        <tr>
          <td class="charViewTitle"><%= (printName[key] ? printName[key] : key) %></td>
          <td class="charViewContent">
            <% if (key === 'phyAtk' || key === 'magAtk') { %>
              <%= (val + char.stat[key + 'Min']).toFixed(2) %>-<%= (val + char.stat[key + 'Max']).toFixed(2) %>
            <% } else { 
                 if (key == 'phyReduce' || key == 'magReduce' || key == 'crit' || key == 'critDmg' || key == 'crit' || key == 'hit' || key == 'evasion' || key == 'pierce') {
                   val = (val * 100).toFixed(2) + '%'; 
                 } %>
              <%= val %>
            <% } %>
          </td>
          <td class="charViewContent">
            <% if ((key === 'maxHp' || key === 'phyAtk' || key === 'magAtk') && char.statPoint > 0) { %>
              <form action="/useStatPoint" method="post">
                <button type="submit">+</button>
                <input type="hidden" name="keyType" value="<%= key %>">
              </form>
            <% } %>
          </td>
        </tr>
      <% } %>
    </table>
    
  <div class="infoViewWrap">
    <table class="itemInfo">
      <% if (char.items.weapon) { %>
        <tr>
          <td class="charViewTitle">무기</td>
          <td class="charViewContent"><%= char.items.weapon.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.weapon.rarity) %></td>
          <td class="charViewContent"><%= char.items.weapon.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.weapon) %>
            </div>
          </td>
          <td class="charViewContent">
            <form action="/unequipItem" method="post">
              <button type="submit">해제</button>
              <input type="hidden" name="itemType" value="weapon">
            </form>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">무기</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
      <% if (char.items.armor) { %>
        <tr>
          <td class="charViewTitle">갑옷</td>
          <td class="charViewContent"><%= char.items.armor.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.armor.rarity) %></td>
          <td class="charViewContent"><%= char.items.armor.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.armor) %>
            </div>
          </td>
          <td class="charViewContent">
            <form action="/unequipItem" method="post">
              <button type="submit">해제</button>
              <input type="hidden" name="itemType" value="armor">
            </form>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">갑옷</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
      <% if (char.items.subarmor) { %>
        <tr>
          <td class="charViewTitle">보조방어구</td>
          <td class="charViewContent"><%= char.items.subarmor.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.subarmor.rarity) %></td>
          <td class="charViewContent"><%= char.items.subarmor.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.subarmor) %>
            </div>
          </td>
          <td class="charViewContent">
            <form action="/unequipItem" method="post">
              <button type="submit">해제</button>
              <input type="hidden" name="itemType" value="subarmor">
            </form>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">보조방어구</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
      <% if (char.items.trinket) { %>
        <tr>
          <td class="charViewTitle">장신구</td>
          <td class="charViewContent"><%= char.items.trinket.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.trinket.rarity) %></td>
          <td class="charViewContent"><%= char.items.trinket.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.trinket) %>
            </div>
          </td>
          <td class="charViewContent">
            <form action="/unequipItem" method="post">
              <button type="submit">해제</button>
              <input type="hidden" name="itemType" value="trinket">
            </form>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">장신구</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
      <% if (char.items.skillArtifact) { %>
        <tr>
          <td class="charViewTitle">스킬 아티팩트</td>
          <td class="charViewContent"><%= char.items.skillArtifact.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.skillArtifact.rarity) %></td>
          <td class="charViewContent"><%= char.items.skillArtifact.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.skillArtifact) %>
            </div>
          </td>
          <td class="charViewContent">
            <form action="/unequipItem" method="post">
              <button type="submit">해제</button>
              <input type="hidden" name="itemType" value="skillArtifact">
            </form>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">스킬 아티팩트</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
    </table>
    
    <table class="skillInfo">
      <tr>
        <td class="charViewTitle">가위</td>
        <td class="charViewContent"><%= char.skill.base[0].name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.base[0]) %>
          </div>
        </td>
        <td class="charViewContent"><%= getDamageText(char.skill.base[0]) %></td>
      </tr>
      <tr>
        <td class="charViewTitle">바위</td>
        <td class="charViewContent"><%= char.skill.base[1].name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.base[1]) %>
          </div>
        </td>
        <td class="charViewContent"><%= getDamageText(char.skill.base[1]) %></td>
      </tr>
      <tr>
        <td class="charViewTitle">보</td>
        <td class="charViewContent"><%= char.skill.base[2].name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.base[2]) %>
          </div>
        </td>
        <td class="charViewContent"><%= getDamageText(char.skill.base[2]) %></td>
      </tr>
      <tr>
        <td class="charViewTitle">스페셜</td>
        <td class="charViewContent"><%= char.skill.special.name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.special) %>
          </div>
        </td>
        <td class="charViewContent">SP<%= char.skill.special.cost %></td>
      </tr>
      <tr>
        <td class="charViewTitle">드라이브</td>
        <td class="charViewContent"><%= char.skill.drive.name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.drive) %>
          </div>
        </td>
        <td class="charViewContent">SP<%= char.skill.drive.cost %></td>
      </tr>
    </table>
  </div>
    
    <div class="inventoryWrap" id="inventory">
      <% for (const [key, val] of Object.entries(char.inventory)) { %>
        <div class="inventoryItem">
          <form action="/useItem" method="post">
            <button class="<%= getButtonText(val.rarity) %> inventoryButton" onclick="invClick(this, event)" type="button"><%= val.name %>
              <div class="itemTooltip"><%- makeTooltip(val) %></div>
            </button>
            <input type="hidden" name="itemNum" value="<%= key %>">
          </form>
        </div>
      <% } %>
    </div>
  
  <div>
    <table class="charInfo">
      <% for (const val of news) { %>
        <tr>
          <td class="charViewContent">
            <%- val %>
          </td>
        </tr>
      <% } %>
    </table>
  </div>
  
  <div class="chatWrap">
    <ul id="messages"></ul>
    <form action="" name="chatForm" onsubmit="return sendMessage();">
      <input type="text" id="msg" placeholder="메시지 입력" />
      <button type="submit"">보내기</button>
    </form>
  </div>
    <div class="chatWrap">
      <ul id="people" class="peopleList"></ul>
    </div>
    
    <div class="menuWrap">
      <div class="menuItem">
        <a href="/battleList">전투 신청</a>
      </div>
      <div class="menuItem">
        <a href="/battleLogs">전투 로그 보기</a>
      </div>
      <div class="menuItem">
        <a href="/viewList">캐릭터 정보 보기</a>
      </div>
      <div class="menuItem">
        <a href="/tradeList">아이템 주기</a>
      </div>
      <div class="menuItem">
        <a href="/sortInventory">아이템 정리</a>
      </div>
      <div class="menuItem">
        <a href="/shop">상점</a>
      </div>
      <div class="menuItem">
        <a href="/stoneCube">요일석 합성</a>
      </div>
      <div class="menuItem">
        <a href="/dismantlingYard">아이템 해체</a>
      </div>
      <div class="menuItem">
        <a href="/quest">퀘스트</a>
      </div>
      <div class="menuItem">
        <a href="/dungeon">던전 입장</a>
      </div>
      <div class="menuItem">
        <a href="/logout">로그아웃</a>
      </div>
    </div>
    <%  } else { %>
      <p>캐릭터가 지정되지 않았습니다. 관리자에게 문의하세요.</p>
      <br><a href="/logout">로그아웃</a>
    <% } %> 
    <% } %> 
</body>
</html>
