<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 리설트 카드</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      div {text-align: center; vertical-align: middle; width: 160px; height: 242px; margin: 0 45%; position: absolute; }
      .backLink {text-align: center; width: 40%; margin: 270px 30%; overflow: hidden;  }
      .itemTooltip {font-family: "Nanum Gothic", sans-serif; visibility: hidden; width: 250px; background-color: black; color: #fff; text-align: center; font-size: 13.3333px; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .actualContent:hover .itemTooltip {visibility: visible; }
      .rarityUncommon {color: #4bacc6; }
      .rarityRare {color: #8054a2; }
      .rarityPremium {color: #00b050; }
      .rarityUnique {color: #ff33cc; }
      .rarityEpic {color: #f79646; }
      .glowRare {box-shadow: 0 10px 100px #8054a2; animation: rarePulse 2s; animation-iteration-count: infinite; }
      .glowUnique {box-shadow: 0 10px 100px #ff33cc; animation: uniquePulse 2s; animation-iteration-count: infinite; }
      .glowEpic {box-shadow: 0 10px 100px #f79646; animation: epicPulse 2s; animation-iteration-count: infinite; }
      .cardBack {transition: transform 2s; z-index: 2; }
      .cardFront {padding-top: 100px; height: 142px; transition: box-shadow 2s; z-index: 1; border-radius: 10%; }
      .shake {animation: shake 0.5s; animation-iteration-count: <%= item.rarity + 2 %>; } 
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
      @keyframes rarePulse {
        0% { box-shadow: 0 10px 100px #8054a2; }
        50% { box-shadow: 0 10px 70px #8054a2; }
        100% { box-shadow: 0 10px 100px #8054a2; }
      }
      @keyframes uniquePulse {
        0% { box-shadow: 0 10px 100px #ff33cc; }
        50% { box-shadow: 0 10px 70px #ff33cc; }
        100% { box-shadow: 0 10px 100px #ff33cc; }
      }
      @keyframes epicPulse {
        0% { box-shadow: 0 10px 100px #f79646; }
        50% { box-shadow: 0 10px 70px #f79646; }
        100% { box-shadow: 0 10px 100px #f79646; }
      }
    </style>
</head>
<body>
<%  
  var printName = {};
  printName.maxHp = '생명력';
  printName.hpRegen = 'HP재생';
  printName.spRegen = 'SP재생';
  printName.spCharge = 'SP충전';
  printName.phyAtk = '물리공격력';
  printName.magAtk = '마법공격력';
  printName.crit = '치명';
  printName.critDmg = '치명피해';
  printName.phyReduce = '물리저항';
  printName.magReduce = '마법저항';
  printName.hit = '명중';
  printName.evasion = '회피';
  printName.dmgReduce = '피해감소';
  printName.pierce = '관통';
  printName[0] = '무기';
  printName[1] = '갑옷';
  printName[2] = '보조방어구';
  printName[3] = '장신구';
  printName[4] = '스킬 아티팩트';
  
  function getRarityText(rarity) {
    var text = '';
    var cname = 'rarity';
    switch (rarity) {
    case 0:
      text = '커먼';
      cname += 'Common';
      break;
    case 1:
      text = '언커먼';
      cname += 'Uncommon';
      break;
    case 2:
      text = '레어';
      cname += 'Rare';
      break;
    case 3:
      text = '프리미엄';
      cname += 'Premium';
      break;
    case 4:
      text = '유니크';
      cname += 'Unique';
      break;
    case 5:
      text = '에픽';
      cname += 'Epic';
      break;
    }
    return '<span class="' + cname + '">' + text + '</span>';
  }
  
  function getStatList(val) {
    return Object.entries(val.stat).map(arr => { 
      if (arr[0] == 'phyAtkMin') {
        return  '물리공격력 +' + arr[1] + '~' + val.stat.phyAtkMax;
      } else if (arr[0] == 'magAtkMin') {
        return  '마법공격력 +' + arr[1] + '~' + val.stat.magAtkMax;        
      } else if (arr[0] == 'phyAtkMax' || arr[0] == 'magAtkMax') {
        return '';
      } else {
        var sign = arr[1] > 0 ? '+' : '';
        if (arr[0] == 'phyReduce' || arr[0] == 'magReduce' || arr[0] == 'crit' || arr[0] == 'critDmg' || arr[0] == 'crit' || arr[0] == 'hit' || arr[0] == 'evasion' || arr[0] == 'pierce') {
          arr[1] = (arr[1] * 100).toFixed(2) + '%'; 
        }
        return printName[arr[0]] + ' ' + sign + arr[1];
      }      
    }).filter(x => x.length > 0).join(', ');
  }
  
  function makeTooltip(item) {
    var rtext = '';
    rtext += item.name;
    if (item.type < 10) {
      rtext += '<br>' + item.rank + '급 ' + getRarityText(item.rarity) + ' ' + printName[item.type];
      rtext += '<br>' + getStatList(item);
      if (item.effectDesc && item.effectDesc.length > 0) {
        rtext += ', ' + item.effectDesc;
      }
      if (item.socket) {
        rtext += '<br><br>[' + item.socket.name + '] ' + getStatList(item.socket);
      }
      if (item.flavor && item.flavor.length > 0) {
        rtext += '<br><br><span class="tooltipFlavor">' + item.flavor + '</span>';
      }
    }
    return rtext;
  }
  
  function getGlowText(rarity) {
    var cname = 'glow';
    switch (rarity) {
    case 0:
      cname += 'Common';
      break;
    case 1:
      cname += 'Uncommon';
      break;
    case 2:
      cname += 'Rare';
      break;
    case 3:
      cname += 'Premium';
      break;
    case 4:
      cname += 'Unique';
      break;
    case 5:
      cname += 'Epic';
      break;
    }
    return cname;
  }
%>
  <script>
    function reveal() {
      document.getElementById('cardBack').setAttribute('style', 'transform: rotateY(180deg)');
      document.getElementById('cardBack').setAttribute('class', 'cardBack');
      document.getElementById('cardFront').setAttribute('class', 'cardFront <%= getGlowText(item.rarity) %> <%= item.rarity >= 2 ? 'shake' : '' %>');
      window.navigator.vibrate(1000);
      setTimeout(function() {
        document.getElementById('cardBack').setAttribute('style', 'display: none');        
      }, 620);
      setTimeout(function() {
        document.getElementById('actualContent').setAttribute('style', 'visibility: visible; opacity : 1; transition: visibility 0s, opacity 0.5s linear;');
      document.getElementById('cardFront').setAttribute('class', 'cardFront <%= getGlowText(item.rarity) %>');        
      }, 420 + 200 * <%= item.rarity * item.rarity %>);
      document.getElementById('audio').play();
    }
  </script>
  
  <% if (item.rarity >= 4) { %>
    <audio id="audio" src="https://player.bgmstore.net/GpxUO/mp4" ></audio>
  <% } %>
  <div class="cardBack" id="cardBack" onclick="reveal();">
    <img src="https://i.imgur.com/lFRuWeX.png">
  </div>
  <div class="cardFront" id="cardFront">
    <span id="actualContent" class="actualContent" style="visibility: hidden; opacity : 0; transition: visibility 0s, opacity 0.5s linear;">
      <%- getRarityText(item.rarity) %><br>
      <%= item.name %>
      <div class="itemTooltip"><%- makeTooltip(item) %></div>
    </span>
  </div>
  <div class="backLink">
    <a href="/">돌아가기</a>
  </div>
</body>
</html> 