<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 아이템 선택</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      div.inventoryWrap {float: left; width: 750px; max-width: 100%; }
      .inventoryItem button {width: 150px; float: left; padding: 2px; }
      .inventoryItem button:hover { }
      .itemTooltip {font-family: "Nanum Gothic", sans-serif; visibility: hidden; width: 250px; background-color: black; color: #fff; text-align: center; font-size: 13.3333px; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .inventoryItem:hover .itemTooltip {visibility: visible; }
      .rarityUncommon {color: #4bacc6; }
      .rarityRare {color: #8054a2; }
      .rarityPremium {color: #00b050; }
      .rarityUnique {color: #ff33cc; }
      .rarityEpic {color: #f79646; }
      .buttonUncommon {background-color: #4bacc6; }
      .buttonRare {background-color: #8054a2; }
      .buttonPremium {background-color: #00b050; }
      .buttonUnique {background-color: #ff33cc; }
      .buttonEpic {background-color: #f79646; }
      .backLink {text-align: center; width: 40%; margin: 10px auto; overflow: hidden; }
    </style>
</head>
<body>
<% 
  var printName = {};
  printName.maxHp = '생명력';
  printName.hpRegen = '생명력 재생';
  printName.spRegen = 'SP 재생';
  printName.spCharge = 'SP 충전';
  printName.phyAtk = '물리공격력';
  printName.magAtk = '마법공격력';
  printName.crit = '치명';
  printName.critDmg = '치명피해';
  printName.phyReduce = '물리저항';
  printName.magReduce = '마법저항';
  printName.hit = '명중';
  printName.evasion = '회피';
  printName.dmgReduce = '피해감소';
  printName.pierce = '관통';
  printName[0] = '무기';
  printName[1] = '갑옷';
  printName[2] = '보조방어구';
  printName[3] = '장신구';
  
  function getRarityText(rarity) {
    var text = '';
    var cname = 'rarity';
    switch (rarity) {
    case 0:
      text = '커먼';
      cname += 'Common';
      break;
    case 1:
      text = '언커먼';
      cname += 'Uncommon';
      break;
    case 2:
      text = '레어';
      cname += 'Rare';
      break;
    case 3:
      text = '프리미엄';
      cname += 'Premium';
      break;
    case 4:
      text = '유니크';
      cname += 'Unique';
      break;
    case 5:
      text = '에픽';
      cname += 'Epic';
      break;
    }
    return '<span class="' + cname + '">' + text + '</span>';
  }
  
  function getButtonText(rarity) {
    var cname = 'button';
    switch (rarity) {
    case 0:
      cname += 'Common';
      break;
    case 1:
      cname += 'Uncommon';
      break;
    case 2:
      cname += 'Rare';
      break;
    case 3:
      cname += 'Premium';
      break;
    case 4:
      cname += 'Unique';
      break;
    case 5:
      cname += 'Epic';
      break;
    }
    return cname;
  }
  
  function getStatList(val) {
    return Object.entries(val.stat).map(arr => { 
      if (arr[0] == 'phyAtkMin') {
        return  '물리공격력 +' + arr[1] + '~' + val.stat.phyAtkMax;
      } else if (arr[0] == 'magAtkMin') {
        return  '마법공격력 +' + arr[1] + '~' + val.stat.magAtkMax;        
      } else if (arr[0] == 'phyAtkMax' || arr[0] == 'magAtkMax') {
        return '';
      } else {
        var sign = arr[1] > 0 ? '+' : '';
        if (arr[0] == 'phyReduce' || arr[0] == 'magReduce' || arr[0] == 'crit' || arr[0] == 'critDmg' || arr[0] == 'crit' || arr[0] == 'hit' || arr[0] == 'evasion') {
          arr[1] = (arr[1] * 100).toFixed(2) + '%'; 
        }
        return printName[arr[0]] + ' ' + sign + arr[1];
      }      
    }).filter(x => x.length > 0).join(', ');
  }
  
  function makeTooltip(item) {
    var rtext = '';
    rtext += item.name;
    if (item.type < 10) {
      rtext += '<br>' + item.rank + '급 ' + getRarityText(item.rarity) + ' ' + printName[item.type];
      rtext += '<br>' + getStatList(item);
      if (item.socket) {
        rtext += '<br><br>[' + item.socket.name + '] ' + getStatList(item.socket);
      }
    }
    return rtext;
  }
  
  if (mode === 1 && inv && usedItem) { 
    var used = inv[usedItem]; 
    var minRank = used.level >= 3 ? 7 : (used.level === 2 ? 8 : 9); 
    var tgtInv = inv.map(x => (x.rank <= minRank && x.type <= 3) ? x : {}); 
    if (used.day === 1) {
      tgtInv = tgtInv.map(x => (x.type === 0 || x.type === 3) ? x : {});
    } else if (used.day === 5) {
      tgtInv = tgtInv.map(x => (x.type >= 1) ? x : {});
    }
  %>
    <div>
      <%= used.name %>을 사용합니다.
    </div>
    <div class="inventoryWrap">
      <% for (const [key, val] of Object.entries(tgtInv)) { 
           if (!val.name) {
             continue;
           } %>
        <div class="inventoryItem">
          <form action="/enchantItem" method="post">
            <button class="<%= getButtonText(val.rarity) %>" type="submit"><%= val.name %>
              <div class="itemTooltip"><%- makeTooltip(val) %></div>
            </button>
            <input type="hidden" name="itemNum" value="<%= key %>">
            <input type="hidden" name="itemUsed" value="<%= usedItem %>">
          </form>
        </div>
      <% } %>
    </div>
  <% } %>
  <div class="backLink">
    <a href="/">돌아가기</a>
  </div>
</body>
</html>
