<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      body {overflow: hidden; }
      div.inventoryWrap {float: left; width: 750px; }
      .inventoryItem button {width: 150px; background-color: #ffffea; float: left; }
      .inventoryItem button:hover {background-color: #ffffcc; }
      .inventoryItem .itemTooltip {visibility: hidden; width: 200px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .inventoryItem:hover .itemTooltip {visibility: visible; }
      .charViewContent .itemTooltip {visibility: hidden; width: 200px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .charViewContent:hover .itemTooltip {visibility: visible; }
      .rarityUncommon {color: #4bacc6; }
      .rarityRare {color: #8054a2; }
      .rarityPremium {color: #00b050; }
      .rarityUnique {color: #ff33cc; }
      .rarityEpic {color: #f79646; }
    </style>
</head>
<body>
    <h1>Home</h1>
    <% 
  var printName = {};
  printName.weapon = '무기';
  printName.armor = '갑옷';
  printName.trinket = '장신구';
  printName.maxHp = '생명력';
  printName.hpRegen = '생명력 재생';
  printName.spRegen = 'SP 재생';
  printName.spCharge = 'SP 충전';
  printName.phyAtk = '물리공격력';
  printName.magAtk = '마법공격력';
  printName.crit = '치명';
  printName.critDmg = '치명피해';
  printName.phyReduce = '물리저항';
  printName.magReduce = '마법저항';
  printName.hit = '명중';
  printName.evasion = '회피';
  
  function getRarityText(rarity) {
    var text = '';
    var cname = 'rarity';
    switch (rarity) {
    case 0:
      text = '커먼';
      cname += 'Common';
      break;
    case 1:
      text = '언커먼';
      cname += 'Uncommon';
      break;
    case 2:
      text = '레어';
      cname += 'Rare';
      break;
    case 3:
      text = '프리미엄';
      cname += 'Premium';
      break;
    case 4:
      text = '유니크';
      cname += 'Unique';
      break;
    case 5:
      text = '에픽';
      cname += 'Epic';
      break;
    }
    return '<span class="' + cname + '">' + text + '</span>';
  }
  
  function getStatList(val) {
    return Object.entries(val.stat).map(arr => { if (arr[1] > 0 && arr[1] < 1) arr[1] *= 100; 
      if (arr[0] == 'phyAtkMin') {
        return  '물리공격력 ' + arr[1] + '-' + val.stat.phyAtkMax;
      } else if (arr[0] == 'magAtkMin') {
        return  '마법공격력 ' + arr[1] + '-' + val.stat.magAtkMax;        
      } else if (arr[0] == 'phyAtkMax' || arr[0] == 'magAtkMax') {
        return '';
      } else {
        return printName[arr[0]] + ' ' + arr[1];
      }      
    }).filter(x => x.length > 0).join(', ');
  }
  if (mode === 1 && inv && usedItem) { 
    var used = inv[usedItem]; 
    var minRank = used.level >= 3 ? 7 : (used.level === 2 ? 8 : 9); 
    var tgtInv = inv.map(x => (x.rank <= minRank && x.type <= 3) ? x : {}); 
    if (used.day === 1) {
      tgtInv = tgtInv.map(x => (x.type === 0 || x.type === 3) ? x : {});
    } else if (used.day === 5) {
      tgtInv = tgtInv.map(x => (x.type >= 1) ? x : {});
    }
    %>
    <div>
      <%= used.name %>을 사용합니다.
    </div>
    <div class="inventoryWrap">
      <% for (const [key, val] of Object.entries(tgtInv)) { 
           if (val == {}) {
             continue;
           } %>
        <div class="inventoryItem"><form action="/enchantItem" method="post"><button type="submit"><%= val.name %></button><input type="hidden" name="itemNum" value="<%= key %>"><input type="hidden" name="itemUsed" value="<%= usedItem %>">
        <div class="itemTooltip"><%= val.stat ? getStatList(val) : '' %></div></form>
        </div>
      <% } %>
    </div>
  <% } %>
</body>
</html>