<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld -  상점</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      div {width: 450px; max-width: 100%; margin: 0 auto; }
      .charItem button {width: 450px; max-width: 100%; background-color: #ffffea; }
      .charItem button:hover {background-color: #ffffcc; }
      .itemTooltip {font-family: "Nanum Gothic", sans-serif; visibility: hidden; width: 250px; background-color: black; color: #fff; text-align: center; font-size: 13.3333px; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .charItem:hover .itemTooltip {visibility: visible; }
      .rarityUncommon {color: #4bacc6; }
      .rarityRare {color: #8054a2; }
      .rarityPremium {color: #00b050; }
      .rarityUnique {color: #ff33cc; }
      .rarityEpic {color: #f79646; }
      .backLink {text-align: center; width: 40%; margin: 10px auto; overflow: hidden; }
    </style>
    <script>
      
  function invClick(thisNode, event) {
    if (thisNode.type !== 'submit') {
      event.preventDefault();
      for (item of document.getElementsByClassName('inventoryButton')) {
        item.type = 'button';
      }
      thisNode.setAttribute('type', 'submit');
    }
  }
    </script>
</head>
<body>
<%  
  var printName = {};
  printName.maxHp = '생명력';
  printName.hpRegen = 'HP재생';
  printName.spRegen = 'SP재생';
  printName.spCharge = 'SP충전';
  printName.phyAtk = '물리공격력';
  printName.magAtk = '마법공격력';
  printName.crit = '치명';
  printName.critDmg = '치명피해';
  printName.phyReduce = '물리저항';
  printName.magReduce = '마법저항';
  printName.hit = '명중';
  printName.evasion = '회피';
  printName.dmgReduce = '피해감소';
  printName.pierce = '관통';
  printName[0] = '무기';
  printName[1] = '갑옷';
  printName[2] = '보조방어구';
  printName[3] = '장신구';
  printName[4] = '스킬 아티팩트';
  
  function getRarityText(rarity) {
    var text = '';
    var cname = 'rarity';
    switch (rarity) {
    case 0:
      text = '커먼';
      cname += 'Common';
      break;
    case 1:
      text = '언커먼';
      cname += 'Uncommon';
      break;
    case 2:
      text = '레어';
      cname += 'Rare';
      break;
    case 3:
      text = '프리미엄';
      cname += 'Premium';
      break;
    case 4:
      text = '유니크';
      cname += 'Unique';
      break;
    case 5:
      text = '에픽';
      cname += 'Epic';
      break;
    }
    return '<span class="' + cname + '">' + text + '</span>';
  }
  
  function getStatList(val) {
    return Object.entries(val.stat).map(arr => { 
      if (arr[0] == 'phyAtkMin') {
        return  '물리공격력 +' + arr[1] + '~' + val.stat.phyAtkMax;
      } else if (arr[0] == 'magAtkMin') {
        return  '마법공격력 +' + arr[1] + '~' + val.stat.magAtkMax;        
      } else if (arr[0] == 'phyAtkMax' || arr[0] == 'magAtkMax') {
        return '';
      } else {
        var sign = arr[1] > 0 ? '+' : '';
        if (arr[0] == 'phyReduce' || arr[0] == 'magReduce' || arr[0] == 'crit' || arr[0] == 'critDmg' || arr[0] == 'crit' || arr[0] == 'hit' || arr[0] == 'evasion' || arr[0] == 'pierce') {
          arr[1] = (arr[1] * 100).toFixed(2) + '%'; 
        }
        return printName[arr[0]] + ' ' + sign + arr[1];
      }      
    }).filter(x => x.length > 0).join(', ');
  }
  
  function makeTooltip(item) {
    var rtext = '';
    rtext += item.name;
    if (item.type < 10) {
      rtext += '<br>' + item.rank + '급 ' + getRarityText(item.rarity) + ' ' + printName[item.type];
      rtext += '<br>' + getStatList(item);
      if (item.effectDesc && item.effectDesc.length > 0) {
        rtext += ', ' + item.effectDesc;
      }
    if (item.socket) {
      for (sock of item.socket) {
        rtext += '<br><br>[' + sock.name + '] ' + sock.effectDesc;
      }
    }
      if (item.flavor && item.flavor.length > 0) {
        rtext += '<br><br><span class="tooltipFlavor">' + item.flavor + '</span>';
      }
    }
    return rtext;
  }
  
  function getGlowText(rarity) {
    var cname = 'glow';
    switch (rarity) {
    case 0:
      cname += 'Common';
      break;
    case 1:
      cname += 'Uncommon';
      break;
    case 2:
      cname += 'Rare';
      break;
    case 3:
      cname += 'Premium';
      break;
    case 4:
      cname += 'Unique';
      break;
    case 5:
      cname += 'Epic';
      break;
    }
    return cname;
  }
%>
  <div class="backLink">
    프리미엄 샵 (현재 프리미엄 포인트 : <%= premiumPoint %>)
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">요일석 구매 [<%= dayStoneBought ? 5 + dayStoneBought : 5 %>pt]</button>
      <input type="hidden" name="option" value="1">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">경험치 부스트 (15회) [10pt]</button>
      <input type="hidden" name="option" value="2">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">최대 경험치 제한 확장 [10pt]</button>
      <input type="hidden" name="option" value="8">
    </form>
  </div><!--
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">메비우스 섬멸 보상 초기화 [10pt]</button>
      <input type="hidden" name="option" value="9">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">재의 묘소 보상 초기화 [10pt]</button>
      <input type="hidden" name="option" value="10">
    </form>
  </div>-->
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">추가 피로도 +10 [<%= actionBought ? 15 : 10 %>pt]</button>
      <input type="hidden" name="option" value="3">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">리설트 게이지 초기화 [15pt]</button>
      <input type="hidden" name="option" value="11">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">무기 리설트 카드 [10pt]</button>
      <input type="hidden" name="option" value="4">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">방어구 리설트 카드 [10pt]</button>
      <input type="hidden" name="option" value="5">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">보조방어구 리설트 카드 [10pt]</button>
      <input type="hidden" name="option" value="6">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">장신구 리설트 카드 [10pt]</button>
      <input type="hidden" name="option" value="7">
    </form>
  </div>
  <div class="backLink">
    리설트 카드 샵 (현재 가루 : <%= dust %>)
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">장비 리설트 카드 [<%= 100 * rankFactor %> 가루]</button>
      <input type="hidden" name="option" value="106">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">무기 리설트 카드 [<%= 120 * rankFactor %> 가루]</button>
      <input type="hidden" name="option" value="102">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">방어구 리설트 카드 [<%= 120 * rankFactor %> 가루]</button>
      <input type="hidden" name="option" value="103">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">보조방어구 리설트 카드 [<%= 120 * rankFactor %> 가루]</button>
      <input type="hidden" name="option" value="104">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">장신구 리설트 카드 [<%= 120 * rankFactor %> 가루]</button>
      <input type="hidden" name="option" value="105">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">레어 장비 리설트 카드 [<%= 300 * rankFactor %> 가루]</button>
      <input type="hidden" name="option" value="107">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">유니크 장비 리설트 카드 [<%= 800 * rankFactor %> 가루]</button>
      <input type="hidden" name="option" value="108">
    </form>
  </div>
  <% if (currencies.mevious) { %>
  <div class="backLink">
    메비우스 섬멸 병참장교 (현재 메비우스 섬멸의 증표 : <%= currencies.mevious %>)
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">크로울러의 민첩한 눈 [10 메비우스 섬멸의 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.mevious[0]) %></div> 
      <input type="hidden" name="option" value="90001">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">헤드 헌터의 괴창 [10 메비우스 섬멸의 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.mevious[1]) %></div> 
      <input type="hidden" name="option" value="90002">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">메비우스 소탕자 [30 메비우스 섬멸의 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.mevious[2]) %></div> 
      <input type="hidden" name="option" value="90003">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">빅토리어스의 의지 [60 메비우스 섬멸의 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.mevious[3]) %></div> 
      <input type="hidden" name="option" value="90004">
    </form>
  </div>
  <% } %>
  <% if (currencies.ember) { %>
  <div class="backLink">
    잔불 교환자 (현재 잔불 : <%= currencies.ember %>)
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">카사스의 피고리 [5 잔불]</button>
      <div class="itemTooltip"><%- makeTooltip(item.ember[0]) %></div> 
      <input type="hidden" name="option" value="90005">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">깊은 곳의 가호 [15 잔불]</button>
      <div class="itemTooltip"><%- makeTooltip(item.ember[1]) %></div> 
      <input type="hidden" name="option" value="90006">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">잿더미 : 나선의 검 [30 잔불]</button>
      <div class="itemTooltip"><%- makeTooltip(item.ember[2]) %></div> 
      <input type="hidden" name="option" value="90007">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">잿더미 : 장작의 왕 [60 잔불]</button>
      <div class="itemTooltip"><%- makeTooltip(item.ember[3]) %></div> 
      <input type="hidden" name="option" value="90008">
    </form>
  </div>
  <% } %>
  <% if (currencies.burntMark) { %>
  <div class="backLink">
    불탄 증표 병참장교 (현재 불탄 증표 : <%= currencies.burntMark %>)
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">무력화 토템 [5 불탄 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.burntMark[0]) %></div> 
      <input type="hidden" name="option" value="90009">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">해제의 지팡이 [10 불탄 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.burntMark[1]) %></div> 
      <input type="hidden" name="option" value="90010">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">석상 파괴자 [20 불탄 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.burntMark[2]) %></div> 
      <input type="hidden" name="option" value="90011">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">무결한 물의 정령석 [60 불탄 증표]</button>
      <div class="itemTooltip"><%- makeTooltip(item.burntMark[3]) %></div> 
      <input type="hidden" name="option" value="90012">
    </form>
  </div>
  <% } %>
  <% if (currencies.warlock) { %>
  <div class="backLink">
    흑마술의 파편 교환자 (현재 흑마술의 파편 : <%= currencies.warlock %>)
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">프리미엄 포인트 1점 [1 흑마술의 파편]</button>
      <input type="hidden" name="option" value="90013">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">고대 흑마법사의 선물 [7 흑마술의 파편]</button>
      <input type="hidden" name="option" value="90015">
    </form>
  </div>
  <% } %>
  <% if (currencies.aeika) { %>
  <div class="backLink">
    움직이는 요새의 파편 교환자 (현재 움직이는 요새의 파편 : <%= currencies.aeika %>)
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">프리미엄 포인트 1점 [1 움직이는 요새의 파편]</button>
      <input type="hidden" name="option" value="90016">      
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">장비 리설트 카드 [3 움직이는 요새의 파편]</button>
      <input type="hidden" name="option" value="90017">
    </form>
  </div>
  <div class="charItem">
    <form action="/useShop" method="post">
      <button onclick="invClick(this, event)" type="button">에이카의 예비 부품 상자 [5 움직이는 요새의 파편]</button>
      <input type="hidden" name="option" value="90018">
    </form>
  </div>
  <% } %>
  <div class="backLink">
    <a href="/">돌아가기</a>
  </div>
</body>
</html> 
