<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 캐릭터 정보</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      table {border: 1px solid black; text-align: center; }
      table.charInfo {float: left; }
      td {padding: 3px 10px; }
      div.infoViewWrap {float: left; }
      .charInfo .charViewTitle {background-color: #ffffcc; }
      .charInfo .charViewContent {background-color: #ffffea; }
      .itemInfo .charViewTitle {background-color: #ccffcc; }
      .itemInfo .charViewContent {background-color: #eaffea; }
      .skillInfo .charViewTitle {background-color: #ccccff; }
      .skillInfo .charViewContent {background-color: #eaeaff; }
      .itemTooltip {font-family: "Nanum Gothic", sans-serif; visibility: hidden; width: 250px; background-color: black; color: #fff; text-align: center; font-size: 13.3333px; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; }
      .tooltipFlavor {font-style: italic; }
      .charViewContent:hover .itemTooltip {visibility: visible; }
      .rarityUncommon {color: #4bacc6; }
      .rarityRare {color: #8054a2; }
      .rarityPremium {color: #00b050; }
      .rarityUnique {color: #ff33cc; }
      .rarityEpic {color: #f79646; }
    </style>
</head>
<body>
<% 
  var printName = {};
  printName.maxHp = '생명력';
  printName.hpRegen = 'HP재생';
  printName.spRegen = 'SP재생';
  printName.spCharge = 'SP충전';
  printName.phyAtk = '물리공격력';
  printName.magAtk = '마법공격력';
  printName.crit = '치명';
  printName.critDmg = '치명피해';
  printName.phyReduce = '물리저항';
  printName.magReduce = '마법저항';
  printName.hit = '명중';
  printName.evasion = '회피';
  printName.dmgReduce = '피해감소';
  printName.pierce = '관통';
  printName[0] = '무기';
  printName[1] = '갑옷';
  printName[2] = '보조방어구';
  printName[3] = '장신구';
  
  function getDamageText(skill) {
    var res = skill.type === 1 ? '물리' : '마법';
    return res + ' ' + skill.damage;
  }
  
  function getRarityText(rarity) {
    var text = '';
    var cname = 'rarity';
    switch (rarity) {
    case 0:
      text = '커먼';
      cname += 'Common';
      break;
    case 1:
      text = '언커먼';
      cname += 'Uncommon';
      break;
    case 2:
      text = '레어';
      cname += 'Rare';
      break;
    case 3:
      text = '프리미엄';
      cname += 'Premium';
      break;
    case 4:
      text = '유니크';
      cname += 'Unique';
      break;
    case 5:
      text = '에픽';
      cname += 'Epic';
      break;
    }
    return '<span class="' + cname + '">' + text + '</span>';
  }
  
  function getStatList(val) {
    return Object.entries(val.stat).map(arr => { 
      if (arr[0] == 'phyAtkMin') {
        return  '물리공격력 +' + arr[1] + '~' + val.stat.phyAtkMax;
      } else if (arr[0] == 'magAtkMin') {
        return  '마법공격력 +' + arr[1] + '~' + val.stat.magAtkMax;        
      } else if (arr[0] == 'phyAtkMax' || arr[0] == 'magAtkMax') {
        return '';
      } else {
        var sign = arr[1] > 0 ? '+' : '';
        if (arr[0] == 'phyReduce' || arr[0] == 'magReduce' || arr[0] == 'crit' || arr[0] == 'critDmg' || arr[0] == 'crit' || arr[0] == 'hit' || arr[0] == 'evasion' || arr[0] == 'pierce') {
          arr[1] = (arr[1] * 100).toFixed(2) + '%'; 
        }
        return printName[arr[0]] + ' ' + sign + arr[1];
      }      
    }).filter(x => x.length > 0).join(', ');
  }
  
  function makeTooltip(item) {
    var rtext = '';
    rtext += item.name;
    if (item.type < 10) {
      rtext += '<br>' + item.rank + '급 ' + getRarityText(item.rarity) + ' ' + printName[item.type];
      rtext += '<br>' + getStatList(item);
      if (item.effectDesc && item.effectDesc.length > 0) {
        rtext += ', ' + item.effectDesc;
      }
      if (item.socket) {
        rtext += '<br><br>[' + item.socket.name + '] ' + getStatList(item.socket);
      }
      if (item.flavor && item.flavor.length > 0) {
        rtext += '<br><br><span class="tooltipFlavor">' + item.flavor + '</span>';
      }
    }
    return rtext;
  }
  
  function makeSkillTooltip(skill) {
    var rtext = '';
    rtext += skill.tooltip + '<br><br><span class="tooltipFlavor">' + skill.flavor + '</span>';
    return rtext;
  }
  
    if (char) { %>
    <table class="charInfo">
        <tr>
          <td class="charViewTitle"><%= char.name %></td>
          <td class="charViewContent"><%= char.title %></td>
        </tr>
        <tr>
          <td class="charViewTitle"><%= char.rank %>급 <%= char.level %>레벨</td>
          <td class="charViewContent"><%= char.exp + '/' + char.reqExp %></td>
        </tr>
        <tr>
          <td class="charViewTitle">전적</td>
          <td class="charViewContent"><%= char.battleCnt %>전 <%= char.winCnt %>승</td>
        </tr>
      <% for ([key, val] of Object.entries(char.stat)) {  
           if (key === 'phyAtkMax' || key === 'phyAtkMin' || key === 'magAtkMax' || key === 'magAtkMin') {
             continue;
           } %>
        <tr>
          <td class="charViewTitle"><%= (printName[key] ? printName[key] : key) %></td>
          <td class="charViewContent">
            <% if (key === 'phyAtk' || key === 'magAtk') { %>
              <%= val + char.stat[key + 'Min'] %>-<%= val + char.stat[key + 'Max'] %>
            <% } else { 
                 if (key == 'phyReduce' || key == 'magReduce' || key == 'crit' || key == 'critDmg' || key == 'crit' || key == 'hit' || key == 'evasion' || key == 'pierce') {
                   val = (val * 100).toFixed(2) + '%'; 
                 } %>
              <%= val %>
            <% } %>
          </td>
        </tr>
      <% } %>
    </table>
    
  <div class="infoViewWrap">
    <table class="itemInfo">
      <% if (char.items.weapon) { %>
        <tr>
          <td class="charViewTitle">무기</td>
          <td class="charViewContent"><%= char.items.weapon.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.weapon.rarity) %></td>
          <td class="charViewContent"><%= char.items.weapon.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.weapon) %>
            </div>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">무기</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
      <% if (char.items.armor) { %>
        <tr>
          <td class="charViewTitle">갑옷</td>
          <td class="charViewContent"><%= char.items.armor.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.armor.rarity) %></td>
          <td class="charViewContent"><%= char.items.armor.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.armor) %>
            </div>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">갑옷</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
      <% if (char.items.subarmor) { %>
        <tr>
          <td class="charViewTitle">보조방어구</td>
          <td class="charViewContent"><%= char.items.subarmor.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.subarmor.rarity) %></td>
          <td class="charViewContent"><%= char.items.subarmor.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.subarmor) %>
            </div>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">보조방어구</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
      <% if (char.items.trinket) { %>
        <tr>
          <td class="charViewTitle">장신구</td>
          <td class="charViewContent"><%= char.items.trinket.rank %></td>
          <td class="charViewContent"><%- getRarityText(char.items.trinket.rarity) %></td>
          <td class="charViewContent"><%= char.items.trinket.name %>
            <div class="itemTooltip">
              <%- makeTooltip(char.items.trinket) %>
            </div>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td class="charViewTitle">장신구</td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
          <td class="charViewContent"></td>
        </tr>
      <% } %>
    </table>
    
    <table class="skillInfo">
      <tr>
        <td class="charViewTitle">가위</td>
        <td class="charViewContent"><%= char.skill.base[0].name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.base[0]) %>
          </div>
        </td>
        <td class="charViewContent"><%= getDamageText(char.skill.base[0]) %></td>
      </tr>
      <tr>
        <td class="charViewTitle">바위</td>
        <td class="charViewContent"><%= char.skill.base[1].name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.base[1]) %>
          </div>
        </td>
        <td class="charViewContent"><%= getDamageText(char.skill.base[1]) %></td>
      </tr>
      <tr>
        <td class="charViewTitle">보</td>
        <td class="charViewContent"><%= char.skill.base[2].name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.base[2]) %>
          </div>
        </td>
        <td class="charViewContent"><%= getDamageText(char.skill.base[2]) %></td>
      </tr>
      <tr>
        <td class="charViewTitle">스페셜</td>
        <td class="charViewContent"><%= char.skill.special.name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.special) %>
          </div>
        </td>
        <td class="charViewContent">SP<%= char.skill.special.cost %></td>
      </tr>
      <tr>
        <td class="charViewTitle">드라이브</td>
        <td class="charViewContent"><%= char.skill.drive.name %>
          <div class="itemTooltip">
            <%- makeSkillTooltip(char.skill.drive) %>
          </div>
        </td>
        <td class="charViewContent">SP<%= char.skill.drive.cost %></td>
      </tr>
    </table>
  </div>
    <%  } else { %>
      <p>캐릭터가 지정되지 않았습니다. 관리자에게 문의하세요.</p>
    <% } %> 
</body>
</html>
